.home-container {
    height: 100vh;
    width: 100vw;
    background-image: url(/src/Resources/imgHome.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #110319;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 45vh;
}

.element-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20vh 0 20vh;
}

.paper-search-width {
    width: 243px;
    padding: 8px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}