.search-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.form-container{
    display: "flex";
    align-items: "center";
    width: 300px;
    justify-content: center;
}